{
  "extends": ["airbnb"],
  "parser": "babel-eslint",

  "plugins": [
    "flowtype"
  ],

  "env": {
    "node": true,
    "mocha": true
  },

  "rules": {
    "quotes": [2, "double"], // single quotes are for characters
    "curly": [2, "all"], // curly brackets for all statements
    "comma-dangle": [2, "never"], // no trailing commas

    "no-use-before-define": [2, "nofunc"], // allow functions to be underneath their caller

    "no-unused-vars": [2, { "varsIgnorePattern": "^_$" }],
    "max-len": [2, 150, 2],

    "no-duplicate-imports": 0, // doesnt work well when importing types

    "import/prefer-default-export": 0, // dont care

    "react/jsx-filename-extension": 0, // dont care
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0, // handled by Flow
    "react/sort-comp": 0, // dont care
    "react/no-unused-prop-types": 0, // doesnt work

    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}
